.thePrimaryNavigation {
  position: fixed;
  z-index: 9;
}

.theNavigationWrapper > ul {
  gap: 1rem;
  margin-right: 0.5rem;
}

.theNavigationWrapper .sub-menu {
  display: none;
}

.theNavigationWrapper .menu-item-has-children {
  @media (max-width: 1024px) {
    .sub-menu {
      display: block;
    }
  }

  @media (min-width: 1024px) {
    &:hover {
      .sub-menu {
        display: block;
        position: absolute;
        z-index: 999;
        background: white;
        padding: 1rem 0.8rem;
        line-height: 2.5;

        box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.2),
          0 11px 15px -7px rgba(0, 0, 0, 0.14),
          0 24px 38px 3px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
